@tailwind base;
@tailwind components;
@tailwind utilities;

.click-through {
  pointer-events: none;
}
.scanner-styles {
  height: 80%;
  width: 80%;
}
@keyframes popFromBelow {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes popFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }