@tailwind base;
@tailwind components;
@tailwind utilities;

.click-through {
  pointer-events: none;
}
.scanner-styles {
  height: 80%;
  width: 80%;
}
@keyframes popFromBelow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes popFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-out;
}
.fast-fade-in {
  animation: fadeIn 0.2s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.4;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0.4;
    transform: translateY(10%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0%);
  }
}
@keyframes fadeIn3 {
  from {
    opacity: 0.4;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.fade-in-top {
  animation: fadeIn3 0.2s ease-out;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}
.fade-out-top {
  animation: fadeOut 0.2s ease-out;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.pop-in {
  animation: popIn 0.15s ease-out;
}


#div-mediaViewer div {
  background-color: transparent;
}
#div-mediaViewer img,video {
  object-fit: contain;
  background-color: transparent;
}
#file-viewer-container video {
  pointer-events: none;
}

table td{
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#div-mediaViewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.file-viewer {
  height: 100%;
  width: auto; /* This ensures the width follows the aspect ratio */
  max-width: 100%; /* Prevents the width from exceeding the container */
  object-fit: contain; /* Ensures the content fits within the container while maintaining aspect ratio */
}