@tailwind base;
@tailwind components;
@tailwind utilities;

.click-through {
  pointer-events: none;
}
.scanner-styles {
  height: 80%;
  width: 80%;
}
@keyframes popFromBelow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes popFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-out;
}
.fast-fade-in {
  animation: fadeIn 0.2s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.4;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0.4;
    transform: translateY(10%);
  }
  to {
    opacity: 0.8;
    transform: translateY(0%);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-in {
  animation: popIn 0.15s ease-out;
}
#file-viewer-container div {
  width: auto !important;
  height: auto !important;
}
#file-viewer-container img {
  width: 100% !important;
  height: auto !important;
  display: block !important;
}
